<div class="filter-info">
  <mat-card-header>
    <mat-card-title>Main filter</mat-card-title>
  </mat-card-header>
</div>
<div class="table">
  <mat-card>
    <mat-card-header>
      <mat-card-title>List of criterion</mat-card-title>
    </mat-card-header>
    <div class="example-container">


      <mat-card-actions align="end">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="field_name">
            <th mat-header-cell *matHeaderCellDef> Field Name</th>
            <td mat-cell *matCellDef="let element"> {{element.fieldName}} </td>
          </ng-container>

          <ng-container matColumnDef="condition_operator">
            <th mat-header-cell *matHeaderCellDef> Condition Operator</th>
            <td mat-cell *matCellDef="let element"> {{element.conditionOperator}} </td>
          </ng-container>

          <ng-container matColumnDef="property_value">
            <th mat-header-cell *matHeaderCellDef> Condition Value</th>
            <td mat-cell *matCellDef="let element"> {{element.propertyValue}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </mat-card-actions>
    </div>
    <div class="table-buttons">
      <button mat-raised-button color="primary" (click)="onAddButtonClicked()">
        <mat-icon>add_circle</mat-icon>
        New
      </button>
      <button mat-raised-button [disabled]="selection.selected.length === 0" (click)="onUpdateButtonClicked(selection.selected)">
        <mat-icon>settings</mat-icon>
        Details
      </button>
      <button mat-raised-button color="warn" [disabled]="selection.selected.length === 0"  (click)="onDeleteButtonClicked(selection.selected)">
        <mat-icon>cancel</mat-icon>
        Delete
      </button>
    </div>
  </mat-card>
</div>
