<div class="transcoder-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>New filter</mat-card-title>
      <mat-card-subtitle>Filter panel</mat-card-subtitle>
      <form class="example-form">

        <mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Name of table fields</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Types of compare</mat-hint>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Filter value</mat-label>
                <input matInput>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-header>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>List of created filters</mat-card-title>
      <mat-card-subtitle>List panel</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
