<div class="example-loading-shade"
     *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<h1 mat-dialog-title>Delete Filter</h1>
<div mat-dialog-content>
  Would you like to delete Filter <label class="filter-info">{{data.fieldName + ',' + data.conditionOperator +  ',' + data.propertyValue}}</label>?
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">
    <mat-icon>close</mat-icon>No thanks
  </button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial (click)="removeFilter()">
    <mat-icon>delete</mat-icon>Remove
  </button>
</div>
